  
pool:
  name: Azure Pipelines
  vmImage: "vs2017-win2016"
steps:
- task: CopyFiles@2
  displayName: 'Copy Files to: $(Build.ArtifactStagingDirectory)'
  inputs:
    Contents: '**.tf'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
 
- task: Terraform@2
  displayName: 'Terraform init'
  inputs:
    Arguments: init
    InstallTerraform: true
    Version: 0.12.21
    UseAzureSub: true
    ConnectedServiceNameARM: 'Free Trial (ab833764-bdf6-4d19-af30-0af2a16fd669)'


